@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400&display=swap');

body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    color: rgb(47, 47, 47);
}

header {
    margin-left: 4em;
    padding: 1em 0;
}

h1 {
    font-weight: 400;
}

.main-wrapper {
    display: flex;
}

nav {
    display: flex;
    margin-left: 1em;
    flex-direction: column;
    
}

nav a {
    padding: 1em 2em;
    text-decoration: none;
    color: rgb(47, 47, 47);
}

nav a::before {
    content: "#";
    color: gray;
    margin-right: 0.5em;
    visibility: hidden;
}

nav a:hover::before {
    visibility: visible;
}

main {
    margin: 0 10em;
}

section {
    padding: 1em;
}

p {

    line-height: 1.5em;
}