/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400&display=swap');


body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    color: rgb(47, 47, 47);
}

/* Header */

header {
    overflow: auto;
}

h1 {
    margin: 1em 2em;
    font-weight: 400;
}

/* Main wrapper */

.main-wrapper {
    display: flex;
    /* flex-direction: row-reverse; */
}

/* Side nav */

nav {
    display: flex;
    flex-direction: column;
    /* order: 1; */
}

nav a {
    font-weight: 400;
    padding: 1em 3em;
    text-decoration: none;
    color: black;

    transition: 1s;
}

nav a:hover{
    text-decoration: underline;
    text-underline-offset: 0.5em;
}

/* Main content */

main {
    padding: 0 10em;
}

section {
    padding: 0.5em 2em;
}

p {
    line-height: 1.5em;
}

p button {
    border: 1px solid;
}